__pycache__/
*.py[cod]
*$py.class
.DS_Store
.spyproject/
*~
text/.ipynb_checkpoints
text/.ipynb_checkpoints/*
.ipynb_checkpoints
.gitignore~
text/old
.idea
output_saved
output/*/product_space*.pdf
output/*/*.feather
output/*/*.csv
!output/*/*tmax*.csv
!output/*/*agg*.csv
venv
.Rhistory
.#clean_repo.sh
text/*.aux
text/*.bbl
text/*.bcf
text/*.blg
text/*.fdb_latexmk
text/*.fls
text/*.log
text/*.out
text/*.run.xml
text/*.synctex.gz
text/*.dvi
text/*.toc
text/*.pdf
text/.texpadtmp
text/figures_saved
text/figures/old
garbage/*
!garbage/garbage_directory.txt
.Rproj.user
notebooks/drafting_C*
Rplots.pdf
